{
    padding:0;
    margin:0;
    box-sizing: border-box;
}
body{
    background-image: url(dropdown.jpg);
    background-size: cover;
    box-sizing: border-box;
    font-family: sans-serif;
}
.menu{
    background: rgba(1, 71, 24, 0.822);
    text-align: center;
}
.menu ul
{
    display: inline-flex;
    list-style: none;
    color: #fff;
}
.menu ul li{
    width:120px;
    margin:15px;
    padding:15px;
}
.menu ul li a{
    color: #fff;
    text-decoration: none;
}
.active,.menu ul li:hover{
    background: #2bab0d;
    border-radius: 3px;
}
.submenu{
    display: none;
}
.menu ul li:hover .submenu
{
    display: block;
    position: absolute;
    background:  rgba(2, 39, 14, 0.822);
    margin-top: 15px;
    margin-left: -15px;
    border-radius: 3px;
}
.menu ul li:hover .submenu ul{
    display: block;
    margin: 10px;
}
.menu ul li:hover .submenu ul li{
    width: 150px;
    padding: 10px;
    border-bottom: 1px dotted #fff;
    border-radius: 0;
    text-align: left;
}
.menu ul li:hover .submenu ul li :last child{
border-bottom: none;
}

.menu ul li:hover .submenu ul li a: hover{ 
    color:#b2ff00;
}

